<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/shapes.svg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Prabesh Manandhar</ion-card-subtitle>
        <ion-card-title>Welcome to my App</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>This app lists down all the products that I like. I will always try to build a better app and your feedback will be valuable.</p>
      </ion-card-content>
    </ion-card>
    
</ion-content>
