<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/a523b9f2-07a1-42a0-ab71-4e76a73ef04b/resourceGroups/appsvc_windows_centralus/providers/Microsoft.Web/sites/rainfall-app</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://rainfall-app.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>rainfall-app.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>rainfall-app</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$rainfall-app</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>